* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #4D4C60;
}

.rive {
  position: absolute;
  top: 0;
  left: -20%;
  width: 200%;

  background-color: rgba(240, 248, 255, 0.155);
}

@media (max-width: 1024px) {
  .rive {
    height: auto;
    width: 550%;
    left: -200%;
  }
}

@media (max-width: 425px) {
  .rive {
    height: auto;
    width: 850%;
    left: -340%;
  }
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vmin;
  color: beige;
}

.section:nth-child(odd) {
  background-color: #1005e448;
}